.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999; /* Below the menu button */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}

.user-section {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 15px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #3498db;
  display: inline-block;
  margin-right: 10px;
}

.close-button {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 20px;
}
.nav-menu-items {
  font-family: Roboto;
  padding-left: 15px;
  color: #181818;
}
.nav-item:hover {
  background-color: #f4f4f4;
}
.navbar-mobile-user-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.username-heading {
  margin-bottom: 0px;
  font-size: 17px;
}
.username-container {
  margin-left: 5px;
  margin-top: 10px;
}
.user-profile {
  margin-top: 5px;
}
